<div class="py2 post-footer">
  <p>
    Thanks for reading. Did I make a mistake? Please consider
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/nilsduran/nilsduran.github.io/edit/main/collections/{{ page.path }}"
      >sending a pull request.</a
    >
  </p>
  <p>
    Follow me on
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://github.com/nilsduran"
      >Github</a
    >
    or
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/nils-duran2004/"
      >LinkedIn</a
    >.
  </p>
</div>
